@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: 'lato';
  font-weight: 500;
  font-size: 25px;
  color: #fff;
  text-decoration: none;

}

body,
input,
button {
  font-family: 'lato';
  background-color: black;
  height: 100vh;
  text-shadow: 0 0 4px;

}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  position: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #333;
}

.nav {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.nav_name {
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0 4px;
  z-index: 9999;
  font-size: 30px;
  padding-top: 10px;
}

.nav_menu {
  list-style-type: none;
}

.nav_menu li {
  display: inline-block;
  padding: 0 20px;
  padding-top: 10px
}

.nav_menu li a {
  transition: all 0.3s ease 0s;
}

.nav_menu li a:hover {
  color: #f00;
}

/* button {
  padding: 9px 25px;
  background-color: #f00;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #f00;
  color: #f00;
} */

#bg {
  position: absolute;
  top: 10vh;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}