@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'lato';
  background-color: #000;
  height: 100vh;
}

h1 {
  color: #fff;
  font-size: 50px;
  text-transform: lowercase;
  text-align: left;
  padding-left: 1vh;
  text-shadow: 0 0 10px;
  z-index: 9999;
}

#bg {
  position: absolute;
  top: 10vh;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}